<footer class="p-4 md:p-8 lg:p-10 bg-surface-light  dark:bg-surface-dark border-t border-t-2 border-t-accent-light/20 border-t-accent-dark/20">
    <div class="mx-auto max-w-screen-xl text-center">
        <a href="#" class="flex justify-center items-center text-2xl font-semibold text-content-secondary dark:text-content-secondary">
            JphNovitz
        </a>
        <p class="my-6 text-content-light/90 dark:text-content-dark/40">Développeur Web, Symfony, Laravel, Wordpress, Vue.js. Ancien élève de l'ISL Saint-Laurent Liège</p>
        <ul class="flex flex-wrap justify-center items-center mb-6 text-surface-dark dark:text-surface-light">
            <li>
                <a href="{{ path('app_default') }}" class="mr-4 hover:underline md:mr-6 ">Accueil</a>
            </li>
            <li>
                <a href="https://pixelservices.be" class="mr-4 hover:underline md:mr-6">PixelServices</a>
            </li>
            <li>
                <a href="https://snapmenu.be" class="mr-4 hover:underline md:mr-6">SnapMenu</a>
            </li>
            <li>
                <a href="https://exempl.es" class="mr-4 hover:underline md:mr-6">Exempl.es</a>
            </li>
            {#<li>
                <a href="#" class="mr-4 hover:underline md:mr-6 ">Campaigns</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Blog</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Affiliate Program</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">FAQs</a>
            </li>#}
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Contact</a>
            </li>
        </ul>
        <ul class="flex flex-wrap justify-center items-center mb-6 text-surface-dark dark:text-surface-light space-x-6">
            <li>
                <a href="https://www.linkedin.com/in/jphnovitz/" class="mr-4 hover:underline md:mr-6 ">{{ ux_icon('flowbite:linkedin-solid', {'class': 'w-6 h-6'}) }}</a>
            </li>
            <li>
                <a href="https://www.instagram.com/jiphphi/" class="mr-4 hover:underline md:mr-6 ">{{ ux_icon('flowbite:instagram-solid', {'class': 'w-6 h-6'}) }}</a>
            </li>
            <li>
                <a href="https://www.facebook.com/pixelservices.be/" class="mr-4 hover:underline md:mr-6 ">{{ ux_icon('flowbite:facebook-solid', {'class': 'w-6 h-6'}) }}</a>
            </li>
        </ul>
        <span class="text-sm text-surface-dark/80 sm:text-center dark:text-surface-light/80">© 2018 - &infin; &nbsp; &nbsp; <a href="https://novitz.be" class="hover:underline">Novitz Jean-Philippe™</a>. All Rights Reserved.</span>
    </div>
</footer>