<section class="bg-surface-light dark:bg-surface-dark py-24">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="max-w-screen-lg text-content-primary/60 sm:text-lg dark:text-content-primary-dark/40">
            <h2 class="mb-4 text-4xl tracking-tight font-bold text-accent-light dark:text-accent)dark">Développeur web passionné</h2>
            <p class="mb-4 font-light">Bonjour,<br /><br />
                Je suis un développeur web passionné et polyvalent. Bien que mon cœur penche pour Symfony, je suis tout aussi à l’aise avec Laravel, WordPress ou tout autre framework, en m’adaptant facilement aux besoins du projet. Mon expertise principale repose sur le langage PHP, et côté frontend, je maîtrise également JavaScript sous ses diverses formes : que ce soit en JavaScript natif (Vanilla JS), avec jQuery ou en utilisant le framework Vue.js.</p>
            <p class="mb-4 font-medium">Que ce soit pour prendre en charge l'intégralité de votre projet ou pour vous apporter un soutien ponctuel, n'hésitez pas à me contacter pour discuter de vos besoins en développement web, SaaS ou application web. Je serais ravi de vous accompagner dans la réalisation de vos idées.</p>
            <a href="#"
               class="inline-flex items-center font-medium text-content-secondary/60 hover:text-content-secondary/80 dark:text-content-secondary/50 dark:hover:text-content-secondary/70">
                {% trans %} button.contactme{% endtrans %}
                <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                          clip-rule="evenodd"></path>
                </svg>
            </a>
        </div>
    </div>
</section>