<section class="bg-surface-light dark:bg-surface-dark py-24 antialiased">
    <div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:py-24">
        <div class="max-w-2xl mx-auto text-center">
            <h2 class="text-3xl font-extrabold leading-tight tracking-tight text-content-primary-light sm:text-4xl dark:text-content-primary-dark">
                {% trans %} title.my_works{% endtrans %}
            </h2>
            <p class="mt-4 text-base font-normal text-content-primary-light/60 sm:text-xl dark:text-content-primary-dark/40">
                Quelques projets webs
            </p>
        </div>

        <div class="grid grid-cols-1 mt-12 text-center sm:mt-16 gap-x-20 gap-y-12 sm:grid-cols-2 lg:grid-cols-3">
            <div class="space-y-4">
        <span
                class="bg-content-primary-light/30 text-gray-900 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-content-primary-dark/70 dark:text-base-dark">
          Snapmenu
        </span>
                <h3 class="text-2xl font-bold leading-tight text-content-primary-light dark:text-content-primary-dark">
                    Menu Petites restauration
                </h3>
                <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
                    Site internet qui permet aux petits restaurateurs d'afficher leur menu à l'aide d'un code QR.
                </p>
                <a href="https://snapmenu.be" title="SnapMenu"
                   class="text-base-light bg-accent-light justify-center hover:bg-accent-light/80  inline-flex items-center  focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-accent-dark/60 dark:hover:bg-accent-dark/70 dark:focus:ring-content-primary-dark/80"
                   role="button">
                    Voir
                    <svg aria-hidden="true" class="w-5 h-5 ml-2 -mr-1" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 20 20"
                         fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                              clip-rule="evenodd"/>
                    </svg>
                </a>
            </div>
            <div class="space-y-4">
        <span
                class="bg-content-primary-light/30 text-gray-900 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-content-primary-dark/70 dark:text-base-dark">
          Snackers
        </span>
                <h3 class="text-2xl font-bold leading-tight text-content-primary-light dark:text-content-primary-dark">
                    Site vitrine
                </h3>
                <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
                  Snackers propose aux petits restaurateurs (snacks) de réaliser leurs sites internet.
                </p>
                <a href="https://snackers.be" title="Snackers"
                   class="text-base-light bg-accent-light justify-center hover:bg-accent-light/80  inline-flex items-center  focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-accent-dark/60 dark:hover:bg-accent-dark/70 dark:focus:ring-content-primary-dark/80"
                   role="button">
                    Voir
                    <svg aria-hidden="true" class="w-5 h-5 ml-2 -mr-1" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 20 20"
                         fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                              clip-rule="evenodd"/>
                    </svg>
                </a>
            </div>
            <div class="space-y-4">
        <span
                class="bg-content-primary-light/30 text-gray-900 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-content-primary-dark/70 dark:text-base-dark">
          Medocs.be
        </span>
                <h3 class="text-2xl font-bold leading-tight text-content-primary-light dark:text-content-primary-dark">
                    Application web
                </h3>
                <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
                    Medocs.be permet de facilement mémoriser et transmettre sa liste de médicaments
                </p>
                <a href="https://medocs.be" title="Pixel services"
                   class="text-base-light bg-accent-light justify-center hover:bg-accent-light/80  inline-flex items-center  focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-accent-dark/60 dark:hover:bg-accent-dark/70 dark:focus:ring-content-primary-dark/80"
                   role="button">
                    Voir
                    <svg aria-hidden="true" class="w-5 h-5 ml-2 -mr-1" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 20 20"
                         fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                              clip-rule="evenodd"/>
                    </svg>
                </a>
            </div>
            <div class="space-y-4">
        <span
                class="bg-content-primary-light/30 text-gray-900 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-content-primary-dark/70 dark:text-base-dark">
          Pixel Services
        </span>
                <h3 class="text-2xl font-bold leading-tight text-content-primary-light dark:text-content-primary-dark">
                    Site vitrine
                </h3>
                <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
                    Site internet utilisé afin de proposer des servicecs web aux entreprise.
                </p>
                <a href="https://pixelservices.be" title="Pixel services"
                   class="text-base-light bg-accent-light justify-center hover:bg-accent-light/80  inline-flex items-center  focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-accent-dark/60 dark:hover:bg-accent-dark/70 dark:focus:ring-content-primary-dark/80"
                   role="button">
                    Voir
                    <svg aria-hidden="true" class="w-5 h-5 ml-2 -mr-1" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 20 20"
                         fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                              clip-rule="evenodd"/>
                    </svg>
                </a>
            </div>
            <div class="space-y-4">
        <span
                class="bg-content-primary-light/30 text-gray-900 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-content-primary-dark/70 dark:text-base-dark">
          Exempl.es
        </span>
                <h3 class="text-2xl font-bold leading-tight text-content-primary-light dark:text-content-primary-dark">
                    Site vitrine
                </h3>
                <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
                    Regroupement d'anciens travaux, POC, exercices ou essais
                </p>
                <a href="https://exempl.es" title="Pixel services"
                   class="text-base-light bg-accent-light justify-center hover:bg-accent-light/80  inline-flex items-center  focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-accent-dark/60 dark:hover:bg-accent-dark/70 dark:focus:ring-content-primary-dark/80"
                   role="button">
                    Voir
                    <svg aria-hidden="true" class="w-5 h-5 ml-2 -mr-1" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 20 20"
                         fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                              clip-rule="evenodd"/>
                    </svg>
                </a>
            </div>

        </div>
    </div>
</section>